/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLL */

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  font-family: 'Inter', sans-serif;
  color: #0f172a;
  background: #ffffff;
  line-height: 1.6;
}

/* CONTAINER RIUTILIZZABILE */

.container {
  // width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

/* SPAZIO NAVBAR FIXED */


/* SECONDARY BUTTON */

.btn-secondary {

  border: 1px solid white;
  padding: 12px 22px;

  border-radius: 6px;

  color: white;
  font-weight: 500;

}

.btn-secondary:hover {

  background: white;
  color: #07287e;

}


/* SEZIONI */

.section {
  padding: 100px 0;
}

/* FLEX UTILITIES */

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BRAND */

.primary {
  color: #07287e;
}

.bg-primary {
  background: #07287e;
  color: white;
}

/* TITOLI PROFESSIONALI */

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* LINKS */

a {
  text-decoration: none;
  transition: all .25s ease;
}

/* BUTTON BASE */

.btn-primary {
  background: #07287e;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  font-weight: 500;
  transition: all .25s ease;
}

.btn-primary:hover {
  background: #051c5c;
  transform: translateY(-2px);
}

/* RESPONSIVE */

@media (max-width: 900px) {

  .section {
    padding: 80px 0;
  }

}

@media (max-width: 600px) {

  .section {
    padding: 60px 0;
  }

}