/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLL */

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: -0.3px;
}

/* CONTAINER RIUTILIZZABILE */

.container {
  // width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

/* SPAZIO NAVBAR FIXED */

/* SECONDARY BUTTON */

.btn-secondary {
  border: 1px solid white;
  padding: 12px 22px;

  border-radius: 6px;

  color: white;
  font-weight: 500;
}

.btn-secondary:hover {
  background: white;
  color: #07287e;
}

/* SEZIONI */

.section {
  padding: 100px 0;
}

/* FLEX UTILITIES */

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BRAND */

.primary {
  color: #07287e;
}

.bg-primary {
  background: #07287e;
  color: white;
}

/* TITOLI PROFESSIONALI */

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* LINKS */

a {
  text-decoration: none;
  transition: all 0.25s ease;
}

/* BUTTON BASE */

.btn-primary {
  background: #07287e;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.25s ease;
}

.btn-primary:hover {
  background: #051c5c;
  transform: translateY(-2px);
}

/* RESPONSIVE */
/* ===================== ANIMAZIONI ON SCROLL ===================== */

/* stato iniziale */
.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

/* quando visibile */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ritardi per effetto sequenziale */
.service-card:nth-child(1) {
  transition-delay: 0.1s;
}
.service-card:nth-child(2) {
  transition-delay: 0.2s;
}
.service-card:nth-child(3) {
  transition-delay: 0.3s;
}

.property-card:nth-child(1) {
  transition-delay: 0.1s;
}
.property-card:nth-child(2) {
  transition-delay: 0.2s;
}
.property-card:nth-child(3) {
  transition-delay: 0.3s;
}

.car-card:nth-child(1) {
  transition-delay: 0.1s;
}
.car-card:nth-child(2) {
  transition-delay: 0.2s;
}
.car-card:nth-child(3) {
  transition-delay: 0.3s;
}
@media (max-width: 900px) {
  .section {
    padding: 80px 0;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 60px 0;
  }
}
